body {
    background: url(../images/brick.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#topBorder {
    border-color: #429685;
    color: #707071;
}


 #introCont {
     margin-top: 15%;
 }

 body {
    font-family: 'Roboto', sans-serif;
 }

#ourSites {
    background: #707071;
}

#secondContent {
    color: #429685;
}

#greenBorder {
    border-color: #429685;
}

/* Animation CSS */

#down {
          -webkit-animation: flash linear 1s infinite;
          animation: flash linear 1s infinite;
      }
      @-webkit-keyframes flash {
          0% { opacity: 1; } 
          50% { opacity: .1; } 
          100% { opacity: 1; }
      }
      @keyframes flash {
          0% { opacity: 1; } 
          50% { opacity: .1; } 
          100% { opacity: 1; }
      }


.flashit{
        -webkit-animation: lightening ease-out 10s infinite;
        -moz-animation: lightening ease-out 10s infinite;
        animation: lightening ease-out 10s infinite;
        animation-delay: 2s;
    }
    @-webkit-keyframes lightening {
        0% { opacity: 1; } 
        2% { opacity: 0; }
        3% { opacity: 0.6; }
        4% { opacity: 0.2; }
        6% { opacity: 0.9; } 
        100% { opacity: 1; }
    }
    @keyframes lightening {
        0% { opacity: 1; } 
        2% { opacity: 0; }
        3% { opacity: 0.6; }
        4% { opacity: 0.2; }
        6% { opacity: .9; } 
        100% { opacity: 1; }
    }