.navpic {
    height: 69px !important;
    margin-left: 3%;
    align-content: left;
    margin-top: 16px;
}

.navpic2 {
    height: 42px;
    margin-left: 21px;
    align-content: left;
    margin-top: 16px;
}

.navbar {
    position: relative;
    padding-right: 2%;
}

.titlebar {
    display: block;
    width: 100%;
    position: absolute;
}

body {
    font-family: 'PT Sans', sans-serif;
}